.filters-container {
    display: flex;
    align-items: center;
    background-color: #B00100;
    height: 100px;
}

.filter-name {
    font-weight: 300;
    font-size: 20px;
    color: black;
    margin: 10px;
}


.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    width: 400px;
    margin-right: 100px;


}

.search-box {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    width: 400px;
    margin-right: 100px;
}

.portal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.add-rest-button {
    font-weight: 300;
    font-size: 20px;
    color: black;
    border-radius: 5px;
    background-color: #feffff;
}

.add-rest-button:hover,
.add-rest-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}