<!DOCTYPE html>
<html>
  <head>
    <title>WeEat</title>
    <link href="<%= asset_pack_path 'we_eat_app.css' %>" media="screen" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <div id="root"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
